.button {
    padding: toRem(14) toRem(30);
    cursor: pointer;
    background: linear-gradient(90deg, rgb(10, 10, 92) 0%, rgb(6, 164, 195) 50%, rgb(10, 10, 92) 100%);
    border: none;
    border-radius: 5px;
    width: max-content;
    color: #fff;
    transition: all 0.5s;
    font-weight: 600;
    opacity: 1;
    @include adaptiveValue("font-size", 26, 22);
    @media (any-hover: hover) {
        &:hover {
            opacity: 0.9;
        }
    }
}
