.blog {
    text-align: end;
    width: 100%;
    // .blog__search

    &__search {
        width: toRem(300);
        margin: 0 auto;
        position: relative;
    }

    // .blog__result

    &__result {
        display: flex;
        flex-direction: column;
        gap: toRem(14);
        top: 120%;
        left: 0;
        position: absolute;
        max-height: toRem(350);
        overflow: auto;
        backdrop-filter: blur(6px);
        border-radius: toRem(14);
        padding: toRem(8);
        z-index: 10;
        background-color: #191818;
    }
    &__view {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: toRem(20);
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    // .blog__conteiner

    &__conteiner {
        text-align: start;
        display: flex;
        @include adaptiveValue("gap", 50, 20);
        transition: all 0.3s ease;
        padding: toRem(20);
        border-radius: toRem(40);
        background: #242323;
        box-shadow:
            inset 1px 1px 5px #0e0e0e,
            inset -1px -1px 5px #3a3838;
        @media (any-hover: hover) {
            &:hover {
                .blog__view {
                    opacity: 1;
                }
                box-shadow:
                    inset 2px 2px 5px #0e0e0e,
                    inset -2px -2px 5px #3a3838;
            }
        }
        @media (max-width: em(767)) {
            flex-direction: column;
        }

        .light & {
            background: #ededed;
            box-shadow:
                inset 3px 3px 8px #d8d8d8,
                inset -3px -3px 8px #ffffff;
            @media (any-hover: hover) {
                &:hover {
                    box-shadow:
                        inset 6px 6px 8px #d8d8d8,
                        inset -6px -6px 8px #ffffff;
                }
            }
        }
        &--2 {
            gap: toRem(10);
        }
    }

    // .blog__image

    &__image {
        flex: 0 0 auto;
        @media (max-width: em(767)) {
            display: flex;
            justify-content: center;
        }
    }

    // .blog__img

    &__img {
        box-shadow:
            3px 3px 5px #0e0e0e,
            -3px -3px 5px #3a3838;
        width: toRem(350);
        height: toRem(250);
        object-fit: cover;
        border-radius: toRem(40);
        &--2 {
            width: toRem(80);
            height: toRem(80);
            box-shadow:
                3px 3px 5px #0e0e0e,
                -3px -3px 5px #3a3838;
            border-radius: toRem(40);
            object-fit: cover;
        }
    }

    // .blog__content

    &__content {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    // .blog__title

    &__title {
        @include adaptiveValue("font-size", 28, 20);
        margin-bottom: toRem(12);
        &--2 {
            @include adaptiveValue("font-size", 18, 15);
            margin-bottom: toRem(4);
        }
    }

    // .blog__desc

    &__desc {
    }
    &__info {
        @include adaptiveValue("font-size", 15, 13);
        padding: toRem(10);
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: toRem(12);
        // align-items: end;
        // flex-direction: column;
    }
    &__clock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    // .blog__day

    &__day {
    }

    // .blog__time

    &__time {
    }

    // .blog__items

    &__items {
        padding-top: toRem(30);
        display: flex;
        flex-direction: column;
        @include adaptiveValue("row-gap", 60, 20);
    }

    // .blog__sort

    &__sort {
        margin: toRem(30) 0;
        padding: 0 toRem(30);
    }
}
.search {
    display: flex;
    justify-content: center;
    // .search__input
    &__input {
        width: toRem(300);
        transition: all 0.3s ease;
        padding: toRem(12) toRem(18);
        border-radius: 10px;
        background: #242323;
        box-shadow:
            inset 1px 1px 5px #0e0e0e,
            inset -1px -1px 5px #3a3838;

        .light & {
            border-radius: 10px;
            background: #ededed;
            box-shadow:
                inset 3px 3px 8px #d8d8d8,
                inset -3px -3px 8px #ffffff;
        }
    }
}
