.dashboard {
    // flex-direction: column;
    width: 100%;
    display: flex;
    @include adaptiveValue("gap", 100, 20);
    @media (max-width: em(900)) {
        flex-direction: column-reverse;
    }
    // .dashboard__post
    &__input {
        padding: toRem(12) toRem(18);
        border-radius: 10px;
        background: #242323;
        box-shadow:
            inset 1px 1px 5px #0e0e0e,
            inset -1px -1px 5px #3a3838;

        .light & {
            border-radius: 10px;
            background: #ededed;
            box-shadow:
                inset 3px 3px 8px #d8d8d8,
                inset -3px -3px 8px #ffffff;
        }
    }
    &__textarea {
        color: inherit;
        padding: toRem(12) toRem(18);
        border-radius: 10px;
        background: #242323;
        box-shadow:
            inset 1px 1px 5px #0e0e0e,
            inset -1px -1px 5px #3a3838;

        .light & {
            border-radius: 10px;
            background: #ededed;
            box-shadow:
                inset 3px 3px 8px #d8d8d8,
                inset -3px -3px 8px #ffffff;
        }
        outline: none;
    }
    &__button {
        justify-content: center;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        padding: toRem(12) toRem(18);
        border-radius: 10px;
        background: #242323;
        box-shadow:
            inset 1px 1px 5px #0e0e0e,
            inset -1px -1px 5px #3a3838;
        @media (any-hover: hover) {
            &:hover {
                box-shadow:
                    inset 3px 3px 5px #0e0e0e,
                    inset -3px -3px 5px #3a3838;
            }
        }

        .light & {
            border-radius: 10px;
            background: #ededed;
            box-shadow:
                inset 3px 3px 8px #d8d8d8,
                inset -3px -3px 8px #ffffff;
            @media (any-hover: hover) {
                &:hover {
                    box-shadow:
                        inset 6px 6px 8px #d8d8d8,
                        inset -6px -6px 8px #ffffff;
                }
            }
        }
    }
    &__new {
        max-width: toRem(1000);
        margin: 0 auto;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h6 {
            font-size: toRem(14);
            color: #614343;
            padding-left: toRem(8);
            a {
                text-decoration: underline !important;
            }
        }
        h5 {
            padding-left: toRem(16);
            @include adaptiveValue("font-size", 24, 18);
        }
    }
    &__info {
        display: flex;
        flex-direction: column-reverse;
        gap: toRem(18);
    }
    &__post {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(10);
        // margin: 50px 0px;
        padding: toRem(12) toRem(18);
        border-radius: 30px;
        background: #242323;
        box-shadow:
            inset 1px 1px 5px #0e0e0e,
            inset -1px -1px 5px #3a3838;

        .light & {
            border-radius: 10px;
            background: #ededed;
            box-shadow:
                inset 3px 3px 8px #d8d8d8,
                inset -3px -3px 8px #ffffff;
        }
    }
    &__title {
        text-align: center;
        @include adaptiveValue("font-size", 36, 22);
    }

    &__dash {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        gap: toRem(40);
        height: 100%;
        padding-right: toRem(10);
    }
    // .dashboard__image

    &__image {
        position: relative;
        &--02 {
            width: toRem(300);
            margin: 0 auto;
            position: relative;
        }
        @media (max-width: em(400)) {
            display: none;
        }
        &--03 {
            margin: 0 auto;
            position: relative;
        }
    }

    &__img {
        border-radius: toRem(30);
        object-fit: cover;
        &--02 {
            width: toRem(300);
            height: toRem(300);
            object-fit: cover;
        }
        &--03 {
            border-radius: toRem(12);
            width: toRem(600);
            height: toRem(400);
            object-fit: cover;
        }
    }
    &__img-text {
        position: absolute;
        bottom: 2%;
        @include adaptiveValue("font-size", 12, 10);
        line-height: 1.4;
        padding: toRem(4) toRem(6);
        background-color: rgba(138, 136, 136, 0.604);
        border-radius: toRem(18);
    }

    // .dashboard__post-title

    &__post-title {
        @include adaptiveValue("font-size", 26, 18);
    }

    // .dashboard__delete

    &__delete {
        cursor: pointer;
        color: rgb(128, 74, 74);
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        padding: toRem(8) toRem(12);
        border-radius: 10px;
        background: #242323;
        box-shadow:
            inset 1px 1px 5px #0e0e0e,
            inset -1px -1px 5px #3a3838;
        @media (any-hover: hover) {
            &:hover {
                box-shadow:
                    inset 3px 3px 5px #0e0e0e,
                    inset -3px -3px 5px #3a3838;
            }
        }

        .light & {
            border-radius: 10px;
            background: #ededed;
            box-shadow:
                inset 3px 3px 8px #d8d8d8,
                inset -3px -3px 8px #ffffff;
            @media (any-hover: hover) {
                &:hover {
                    box-shadow:
                        inset 6px 6px 8px #d8d8d8,
                        inset -6px -6px 8px #ffffff;
                }
            }
        }
    }
    // .dachboard__posts
    &__edit {
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        padding: toRem(8) toRem(12);
        border-radius: 10px;
        background: #242323;
        box-shadow:
            inset 1px 1px 5px #0e0e0e,
            inset -1px -1px 5px #3a3838;
        @media (any-hover: hover) {
            &:hover {
                box-shadow:
                    inset 3px 3px 5px #0e0e0e,
                    inset -3px -3px 5px #3a3838;
            }
        }

        .light & {
            border-radius: 10px;
            background: #ededed;
            box-shadow:
                inset 3px 3px 8px #d8d8d8,
                inset -3px -3px 8px #ffffff;
            @media (any-hover: hover) {
                &:hover {
                    box-shadow:
                        inset 6px 6px 8px #d8d8d8,
                        inset -6px -6px 8px #ffffff;
                }
            }
        }
    }
    &__posts {
        display: flex;
        flex-direction: column;
        gap: toRem(20);
        flex: 1;
    }
}
