.hero {
    // padding: toRem(80) 0 toRem(40) 0;
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 100, 40);
    @media (max-width: em(980)) {
        flex-direction: column;
    }
    // .hero__item

    &__item {
        flex: 1;
        display: flex;
        flex-direction: column;
        @include adaptiveValue("gap", 50, 20);
    }

    // .hero__title

    &__title {
        font-family: var(--font-poppins);
        @include adaptiveValue("font-size", 60, 32);
        // line-height: 1.3;
        background: linear-gradient(to bottom, #0167ba, #10adf5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (min-width: em(881)) {
            min-width: toRem(580);
        }
    }
    &__img {
        width: 100%;
        height: toRem(500);
        object-fit: contain;
        animation: move 3s infinite ease alternate;
    }

    // .hero__text

    &__text {
        @include adaptiveValue("font-size", 20, 16);
        font-weight: 300;
        line-height: 1.2;
    }
}

@keyframes move {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}
