.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: toRem(20);
    // .post__info

    &__info {
        padding: toRem(10) 0;
        border-top: 1px solid #433e3e;
        border-bottom: 1px solid #433e3e;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .post__author

    &__author {
        display: flex;
        align-items: center;
        gap: toRem(16);
    }

    // .post__avatar

    &__avatar {
        border-radius: 50%;
    }

    // .post__username

    &__username {
        @include adaptiveValue("font-size", 16, 14);
    }

    // .post__data

    &__data {
        text-align: end;
        @include adaptiveValue("font-size", 15, 13);
    }

    // .post__clock

    &__clock {
        margin-top: toRem(6);
        display: flex;
        flex-direction: column;
        gap: toRem(3);
    }

    // .post__day

    &__day {
    }

    // .post__time

    &__time {
    }

    // .post__body

    &__body {
        display: flex;
        gap: toRem(24);
        padding: toRem(20) 0;
        // border-top: 1px solid #000;
        // border-bottom: 1px solid #000;
        @media (max-width: em(900)) {
            flex-direction: column;
        }
    }

    // .post__content

    &__content {
        flex: 1;
    }

    // .post__title

    &__title {
        @include adaptiveValue("font-size", 36, 24);
        margin-bottom: toRem(16);
    }

    // .post__desc

    &__desc {
    }

    // .post__image

    &__image {
        flex: 1;
        height: toRem(300);
        position: relative;
        @media (max-width: em(900)) {
            flex: auto;
        }
    }

    // .post__img

    &__img {
        object-fit: cover;
    }

    // .post__description

    &__description {
        padding: toRem(20) 0;
        border-top: 1px solid #433e3e;
        border-bottom: 1px solid #433e3e;
    }

    // .post__text

    &__text {
    }
}
